# Byte-compiled / optimized / DLL files
__pycache__/

# Environment
venv/

# VS Code
.vscode/

# SerpentNotes Runtime Files and Compiled Versions
Versions/
DisplaySettings.cfg
Favorites.cfg
GzipFavorites.cfg
Keybindings.cfg
LastOpenedDirectory.cfg
GzipMode.cfg
InlineFootnoteStyle.cfg
HighlightFormatting.cfg
