<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>[[SPLIT]]</title>
    <style media="screen">
        
        /* Whole Body */

        html,
        body {
            /* Dimensions */
            width: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;

            /* Layout */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
        }

        /* Page List */

        #PageListContainer {
            /* Appearance */
            background-color: lightgray;
            
            /* Dimensions and Position */
            flex: 1 1 20%;
            min-width: 20%;
            max-width: 20%;
            max-height: 100%;

            /* Layout */
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
        }

        #PageListHeader {
            /* Appearance */
            background-color: darkgray;

            /* Dimensions and Position */
            min-height: 82px;
            padding-top: 9px;
            padding-bottom: 9px;

            /* Layout */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
        }

        #PageList {
            /* Dimensions and Position */
            flex-grow: 1;

            /* Scrolling */
            overflow: auto;
            white-space: nowrap;
        }

        #PageList li {
            list-style: none;
        }

        #PageList span {
            cursor: pointer;
            -moz-user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
        }

        #PageList span.PageListCurrentPage {
            background-color: white;
        }

        img.ForwardBack {
            cursor: pointer;
        }

        img.ForwardBackDisabled {
            filter: grayscale(100%);
            cursor: default;
        }

        /* Page Display */

        #PageDisplay {
            /* Dimensions and Position */
            flex: 3 1 60%;
            max-height: 100%;
            padding: 20px;

            /* Scrolling */
            overflow: auto;
        }

        #PageDisplay a:visited {
            color: blue;
        }

        /* Search Interface */

        #SearchInterfaceContainer {
            /* Appearance */
            background-color: lightgray;

            /* Dimensions and Position */
            flex: 1 1 20%;
            min-width: 20%;
            max-width: 20%;
            max-height: 100%;

            /* Layout */
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
        }

        #SearchInterfaceHeader {
            /* Appearance */
            background-color: darkgray;

            /* Dimensions and Position */
            min-height: 82px;
            padding-top: 9px;
            padding-bottom: 9px;

            /* Layout */
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

        #SearchInterfaceHeader input[type=text] {
            width: 90%;
        }

        #SearchInterface {
            /* Dimensions and Position */
            flex-grow: 1;

            /* Scrolling */
            overflow: auto;
            white-space: nowrap;
        }

        #SearchResultsList {
            list-style: none;
        }

        #SearchResultsList span {
            cursor: pointer;
            -moz-user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
        }

        /* Collapsible Tree Styling */

        ul.PageListCollapsibleTree li.PageListCollapsibleItem input[type=checkbox] {
            display: none;
        }

        li.PageListCollapsibleItem {
            position: relative;
        }

        li.PageListCollapsibleItem label::before {
            content: ">";
            cursor: pointer;
            position: absolute;
            left: -3ch;
            color: seagreen;
        }

        li.PageListCollapsibleItem input:checked~label::before {
            transform: rotate(90deg);
        }

        ul.PageListCollapsibleTree li.PageListCollapsibleItem ul {
            display: none;
            max-height: 0em;
        }

        ul.PageListCollapsibleTree li.PageListCollapsibleItem input:checked~ul {
            display: block;
            max-height: 1000000000em;
        }

        /* JavaScript Blocked Styling */

        #JavaScriptBlocked {
            color: white;
            background-color: darkred;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div id="PageListContainer">
        <div id="PageListHeader"><img id="BackButton" class="ForwardBack ForwardBackDisabled" onclick="Back();"
                src="data:image/png;base64,[[SPLIT]]"
                alt="Back"><img id="ForwardButton" class="ForwardBack ForwardBackDisabled" onclick="Forward();"
                src="data:image/png;base64,[[SPLIT]]"
                alt="Forward"></div>
        <div id="PageList">
            <ul class="PageListCollapsibleTree">
                [[SPLIT]]
            </ul>
        </div>
    </div>
    <div id="PageDisplay"></div>
    <div id="SearchInterfaceContainer">
        <div id="SearchInterfaceHeader"><input type="text" id="SearchTextInput" name="Search" placeholder="Search"
                value=""><span><button type="button" name="button" onclick="SearchNotebook();">Search
                    Notebook</button><input type="checkbox" id="MatchCaseCheckbox" value=""><label
                    for="MatchCaseCheckbox">Match Case</label></span></div>
        <div id="SearchInterface">
            <ul id="SearchResultsList"></ul>
        </div>
    </div>
    <div id="JavaScriptBlocked">
        <h1>JavaScript has been blocked! This notebook will not function correctly.</h1>
    </div>
</body>
<script type="text/javascript">
    
    document.getElementById("JavaScriptBlocked").remove();

    document.getElementById("SearchTextInput").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            SearchNotebook();
        }
    });
    
    var Pages = [[SPLIT]];
    
    var CurrentPage = null;
    var BackList = [];
    var ForwardList = [];
    var BackNavigation = false;
    var BackMaximum = 50;
    
    SelectPage("[0]", true);
    
    function SelectPage(IndexPath, SkipUpdatingBackAndForward = false) {
        if (IndexPath === CurrentPage) {
            return false;
        }

        UpdatePageListDisplay(IndexPath);
        
        if (!SkipUpdatingBackAndForward) {
            UpdateBackAndForward();
        }

        var PageDisplay = document.getElementById("PageDisplay");
        PageDisplay.innerHTML = Pages[IndexPath][0];
        PageDisplay.scrollTop = 0;
        CurrentPage = IndexPath;
        return false;
    }
    
    function UpdatePageListDisplay(IndexPath) {
        var PageLinks = document.getElementsByClassName("PageLink");
        for (var i = 0; i < PageLinks.length; i++) {
            var PageLinkClassList = PageLinks[i].classList;
            if (PageLinkClassList.contains("PageListCurrentPage")) {
                PageLinkClassList.remove("PageListCurrentPage");
            }
        }

        ExpandParentPages(IndexPath);

        var SelectedPage = document.getElementById(IndexPath + "link");
        SelectedPage.classList.add("PageListCurrentPage");
        SelectedPage.scrollIntoView(true);

        var PageList = document.getElementById("PageList");
        var ScrollAdjustment = (PageList.scrollHeight - PageList.scrollTop <= PageList.clientHeight) ? 0 : PageList.clientHeight / 2;
        PageList.scrollTop = PageList.scrollTop - ScrollAdjustment;
    }
    
    function TogglePageExpansion(IndexPath) {
        var CheckboxID = IndexPath + "checkbox";
        var Checkbox = document.getElementById(CheckboxID);
        if (Checkbox.checked === true) {
            Checkbox.checked = false;
        } else if (Checkbox.checked === false) {
            Checkbox.checked = true;
        }
    }
    
    function ExpandParentPages(IndexPath) {
        var IndexPathArray = eval(IndexPath);
        for (var i = IndexPathArray.length - 1; i > 0; i--) {
            var IndexPathArraySlice = IndexPathArray.slice(0, i);
            var CheckboxID = "[" + IndexPathArraySlice.toString() + "]";
            CheckboxID = CheckboxID.replace(new RegExp(",", "g"), ", ");
            CheckboxID = CheckboxID + "checkbox";
            var Checkbox = document.getElementById(CheckboxID);
            Checkbox.checked = true;
        }
    }
    
    function UpdateBackAndForward() {
        if (!BackNavigation) {
            var PreviousPageIndexPath = CurrentPage;
            var PreviousPageScrollPosition = document.getElementById("PageDisplay").scrollTop;
            var PreviousPageData = [PreviousPageIndexPath, PreviousPageScrollPosition];
            if (BackList.length !== 0) {
                if (BackList[BackList.length - 1][0] !== PreviousPageIndexPath) {
                    BackList.push(PreviousPageData);
                }
            } else {
                BackList.push(PreviousPageData);
            }
            if (BackList.length > BackMaximum) {
                BackList = BackList.slice(-BackMaximum);
            }
            ForwardList.length = 0;
        }

        var BackButton = document.getElementById("BackButton");
        var BackButtonClassList = BackButton.classList;
        if (BackList.length > 0) {
            if (BackButtonClassList.contains("ForwardBackDisabled")) {
                BackButtonClassList.remove("ForwardBackDisabled");
            }
        } else {
            if (!BackButtonClassList.contains("ForwardBackDisabled")) {
                BackButtonClassList.add("ForwardBackDisabled");
            }
        }

        var ForwardButton = document.getElementById("ForwardButton");
        var ForwardButtonClassList = ForwardButton.classList;
        if (ForwardList.length > 0) {
            if (ForwardButtonClassList.contains("ForwardBackDisabled")) {
                ForwardButtonClassList.remove("ForwardBackDisabled");
            }
        } else {
            if (!ForwardButtonClassList.contains("ForwardBackDisabled")) {
                ForwardButtonClassList.add("ForwardBackDisabled");
            }
        }
    }
    
    function Back() {
        if (BackList.length > 0) {
            BackNavigation = true;
            var TargetPageIndexPath = BackList[BackList.length - 1][0];
            var TargetPageScrollPosition = BackList[BackList.length - 1][1];
            BackList.length = BackList.length - 1;
            var PageDisplay = document.getElementById("PageDisplay");
            var CurrentPageScrollPosition = PageDisplay.scrollTop;
            var CurrentPageData = [CurrentPage, CurrentPageScrollPosition];
            ForwardList.push(CurrentPageData);
            SelectPage(TargetPageIndexPath);
            PageDisplay.scrollTop = TargetPageScrollPosition;
            BackNavigation = false;
        }
    }
    
    function Forward() {
        if (ForwardList.length > 0) {
            BackNavigation = true;
            var TargetPageIndexPath = ForwardList[ForwardList.length - 1][0];
            var TargetPageScrollPosition = ForwardList[ForwardList.length - 1][1];
            ForwardList.length = ForwardList.length - 1;
            var PageDisplay = document.getElementById("PageDisplay");
            var CurrentPageScrollPosition = PageDisplay.scrollTop;
            var CurrentPageData = [CurrentPage, CurrentPageScrollPosition];
            BackList.push(CurrentPageData);
            SelectPage(TargetPageIndexPath);
            PageDisplay.scrollTop = TargetPageScrollPosition;
            BackNavigation = false;
        }
    }
    
    function SearchNotebook() {
        var SearchText = document.getElementById("SearchTextInput").value;
        var SearchResultsList = document.getElementById("SearchResultsList");
        var SearchResultsHTMLString = "";
        if (SearchText === "") {
            SearchResultsList.innerHTML = SearchResultsHTMLString;
        } else {
            var MatchCase = document.getElementById("MatchCaseCheckbox").checked;
            if (!MatchCase) {
                SearchText = SearchText.toLowerCase();
            }
            var SearchResultsArray = [];
            for (IndexPath in Pages) {
                var PageContent = Pages[IndexPath][1];
                var PageTitle = Pages[IndexPath][2];
                var ExactTitleMatch = (MatchCase ? PageTitle : PageTitle.toLowerCase()) === SearchText;
                var TitleHits = (MatchCase ? PageTitle : PageTitle.toLowerCase()).split(SearchText).length - 1;
                var ContentHits = (MatchCase ? PageContent : PageContent.toLowerCase()).split(SearchText).length - 1;
                if (ExactTitleMatch || TitleHits > 0 || ContentHits > 0) {
                    SearchResultsArray.push({
                        "ExactTitleMatch": ExactTitleMatch,
                        "TitleHits": TitleHits,
                        "ContentHits": ContentHits,
                        "IndexPath": IndexPath,
                        "PageTitle": PageTitle
                    });
                }
            }
            SearchResultsArray.sort(function (a, b) {
                var Result = 0;
                var MatchCriteria = ["ExactTitleMatch", "TitleHits", "ContentHits"];
                for (MatchCriterion of MatchCriteria) {
                    Result = a[MatchCriterion] < b[MatchCriterion] ? 1 : a[MatchCriterion] > b[MatchCriterion] ? -1 : 0;
                    if (Result !== 0) {
                        return Result;
                    }
                }
                return Result;
            });
            for (Result of SearchResultsArray) {
                SearchResultsHTMLString += "<li><span onclick=\"SelectPage(&quot;" + Result["IndexPath"] + "&quot;);\">" + Result["PageTitle"] + "</span></li>";
            }
            SearchResultsList.innerHTML = SearchResultsHTMLString;
        }
    }

</script>

</html>